/* App-wide styling */
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main {
    height: 100%;
    background-color: white;
}

table {
    white-space: nowrap !important;
}